PORT=3000
OPENAI_API_KEY=your_openai_api_key

# Google Service Account JSON content (as generic strings or a path to credentials.json)
# You can generate a Google Service Account in Google Cloud Console
GOOGLE_SA_EMAIL=your-service-account@project.iam.gserviceaccount.com
GOOGLE_SA_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# Cấu hình Google Sheets
# 1. AI_User_Access
GOOGLE_SPREADSHEET_ID_USER_ACCESS=1DpsdBpsnl0v-9c8eT0G4DuDNCbW3YDmT60njNVGssMs
GOOGLE_SHEET_NAME_USER_ACCESS=AI_User_Access

# 2. AI_Document_Master
GOOGLE_SPREADSHEET_ID_DOC_MASTER=1Pd2IicNeQ6z_rlQHO5vDjDH1VYnvzDBSbyqUOPRKB3I
GOOGLE_SHEET_NAME_DOC_MASTER=AI_Document_Master

# Cấu hình Database Supabase
SUPABASE_URL=your-project-ref-url
SUPABASE_ANON_KEY=your-supabase-public-anon-key
